.delete {
    color: #ED1B24;
}

button.delete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

input.ng-invalid.ng-touched {
    border: 1px solid #ED1B24;
}

input.ng-valid {
    border: 1px solid #1D8344;
}

.alert.alert-danger {
    background-color: #ED1B24;
    text-align: center;
    color: white;
    font-weight: bold;
}

.alert.alert-success {
    background-color: #1D8344;
    color: white;
    font-weight: bold;
}

.btn.btn-blue {
    background-color: #08204C;
    color: white;
}

tr:nth-child(odd) {
    background: #BCC8D8
}